<div class="chat-header">
  <!-- 中略 -->
</div>

<div class="messages">
<%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <!-- 中略 -->
<% end %>